body{
     /* background-image:url('https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg');  */
     background-image:url('https://ak0.picdn.net/shutterstock/videos/2711540/thumb/1.jpg');
    background-size: cover;  
}

.heading{
    font-weight:bolder;
}

img{
    border-radius: 75%;
}
.btn1{
    border:2px solid white;
    border-radius: 20px;
    font-weight:normal;
}
.btn1:hover{
    background-color: rgb(161, 123, 84);
    font-weight: bolder;
    
}
.btn2{
    border:2px solid rgb(161, 123, 84);
    border-radius: 20px;
    font-weight: normal;
}

.btn2:hover{
    background-color:antiquewhite;
    font-weight: bolder;
  
}



