<!-- 
<div id="abc">
    <a >vbdvs</a>
    <nav>
        
        <ul>
           
            <li><a href="#"></a></li>
            <li><a routerLink="Login">Login</a></li>
            <li><a routerLink="Signup">Signup</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</div> -->
<!-- <body>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 ">
    <div class="container">
        <a class="navbar-brand head">WELCOME TO CAMPFUN</a>
        <a class=" navbar-brand head"></a> 
       
        <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbar-collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div [ngClass]="{ 'show': isShowDivIf}" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse hey" >
            <ul class="navbar-nav flex-grow-1">
               
                <li  class="nav-item"  >
                    <a class="nav-link" routerLink="Login">LOGIN</a>
                </li>
                <li  class="nav-item" >
                    <a class="nav-link" routerLink="Signup">SIGNUP</a>
                </li>
                <li  class="nav-item" >
                    <a class="nav-link" routerLink="About">ABOUT</a>
                </li>
                <li  class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Help">HELP?</a>
                </li>
                
                
                
            </ul>
        </div>
    </div>
</nav>
</body>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 ">
        <div class="container">
            <a class="navbar-brand head">WELCOME TO CAMPFUN</a>
             <a class=" navbar-brand head"></a>
           
            <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbar-collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div [ngClass]="{ 'show': isShowDivIf}" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse hey" >
                <ul class="navbar-nav flex-grow-1">
                   
                    <li  class="nav-item"  >
                        <a class="nav-link" routerLink="">HOME</a>
                    </li>
                    <li  class="nav-item"  >
                        <a class="nav-link" routerLink="/Login">LOGIN</a>
                    </li>
                    <li  class="nav-item" >
                        <a class="nav-link" routerLink="/Signup">SIGNUP</a>
                    </li>
                    <li  class="nav-item" >
                        <a class="nav-link" routerLink="/About">ABOUT</a>
                    </li>
                    <li  class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/Help">HELP?</a>
                    </li>
                    
                    
                    
                </ul>
            </div>
        </div>
    </nav> <br/><br/><br/></body> -->
